name: Deploy to GitHub Pages

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build_site:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'
          # This line tells GitHub where to find your lock file for caching
          cache-dependency-path: './portfolio/package-lock.json' 

      - name: Install dependencies
        # This tells GitHub to run the command inside the portfolio folder
        working-directory: ./portfolio 
        run: npm install

      - name: Build
        working-directory: ./portfolio
        run: npm run build

      - name: Upload Artifacts
        uses: actions/upload-pages-artifact@v3
        with:
          # This ensures it uploads the built files from the correct folder
          path: './portfolio/dist/' 

  deploy:
    needs: build_site
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
